{% extends 'management/base.html' %}
{% load static %}

{% block content %}

<hr>
<main class="page-content">

<div class="rbt-elements-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row gy-5 row--30">
            <div class="card">
                <div class="card-body login-card-body">                     
                  <center>
                  <div class="col-6">
                  <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <h3 class="title">Change Password</h3>
                    
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Change Password</button>
                        </form>
                    
                </div>
            </center>
            </div>
            
              </div>
         
        </div>
    </div>
</div>

</main>
{% endblock %}

