
{% load static %}
<!doctype html>
<html lang="en" class="minimal-theme">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'assets/images/networking512.png'  %}" type="image/png" />
  <!--plugins-->
  <link href="{% static 'assets/plugins/simplebar/css/simplebar.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css'  %}" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="{% static 'assets/css/bootstrap.min.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/bootstrap-extended.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/icons.css'  %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdndelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- loader-->
	<link href="{% static 'assets/css/pace.min.css'  %}" rel="stylesheet" />


  <!--Theme Styles-->
  <link href="{% static 'assets/css/dark-theme.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/light-theme.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/semi-dark.css'  %}" rel="stylesheet" />
  <link href="{% static 'assets/css/header-colors.css'  %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Dashboard: Integrated Group Information Management System</title>
</head>

<body>


  <!--start wrapper-->
  <div class="wrapper">
    <!--start top header-->
    <header class="top-header">        
      <nav class="navbar navbar-expand">
        <div class="mobile-toggle-icon d-xl-none">
            <i class="bi bi-list"></i>
          </div>
          <div class="top-navbar d-none d-xl-block">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
            <a class="nav-link" href="https://lab.llifftonanalytica.com/" target="_blank">Training</a>
            </li> 
          </ul>
          </div>
          <div class="search-toggle-icon d-xl-none ms-auto">
            <i class="bi bi-search"></i>
          </div>
          <form class="searchbar d-none d-xl-flex ms-auto">
              <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
             <div class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"><i class="bi bi-x-lg"></i></div>
          </form>
          <div class="top-navbar-right ms-3">
            <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                <div class="user-setting d-flex align-items-center gap-1">
                  <img src="{% static 'assets/images/networking512.png'  %}" class="user-img" alt="">
                  <div class="user-name d-none d-sm-block">
                    {% if request.user.is_authenticated %}{{ request.user.username }}
{% else %}<a href="{% url 'login_view' %}">Login</a>{% endif %}
                  </div>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                   <a class="dropdown-item" href="#">
                     <div class="d-flex align-items-center">
                        <img src="{% static 'assets/images/networking512.png'  %}" alt="" class="rounded-circle" width="60" height="60">
                        <div class="ms-3">
                          <h6 class="mb-0 dropdown-user-name">{% if request.user.is_authenticated %}{{ request.user.get_full_name }}
                            {% else %}<a href="{% url 'login_view' %}">Login</a>{% endif %} </h6>
                        </div>
                     </div>
                   </a>
                 </li>
                 <li><hr class="dropdown-divider"></li>
                 <li>
                    <a class="dropdown-item" href="#">
                       <div class="d-flex align-items-center">
                         <div class="setting-icon"><i class="fas fa-cat"></i></div>
                         <div class="setting-text ms-3"><span>My Profile</span></div>
                       </div>
                     </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                       <div class="d-flex align-items-center">
                         <div class="setting-icon"><i class="fa fa-heart"></i></div>
                         <div class="setting-text ms-3"><span>Settings</span></div>
                       </div>
                     </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'administration_dashboard' %}">
                       <div class="d-flex align-items-center">
                         <div class="setting-icon"><i class="bi bi-speedometer"></i></div>
                         <div class="setting-text ms-3"><span>Dashboard</span></div>
                       </div>
                     </a>
                  </li>
                
                  
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                       <div class="d-flex align-items-center">
                         <div class="setting-icon"><i class="bi bi-lock-fill"></i></div>
                         <div class="setting-text ms-3"><span>Logout</span></div>
                       </div>
                     </a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                <div class="projects">
                  <i class="fa fa-gear" style="font-size:18px;color:blue;"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                 <div class="row row-cols-3 gx-2">
                    <div class="col">
                      <a href="{% url 'administration_dashboard' %}">
                       <div class="apps p-2 radius-10 text-center">
                          <div class="apps-icon-box mb-1 text-white bg-primary bg-gradient">
                            <i class="fa fa-money" style="font-size:18px;color:white;"></i>
                          </div>
                          <p class="mb-0 apps-name">Loans</p>
                       </div>
                      </a>
                    </div>
                    <div class="col">
                      <a href="{% url 'administration_dashboard' %}">
                      <div class="apps p-2 radius-10 text-center">
                         <div class="apps-icon-box mb-1 text-white bg-danger bg-gradient">
                          <i class="fa fa-industry" style="font-size:18px;color:white;"></i>
                         </div>
                         <p class="mb-0 apps-name">Loan Products</p>
                      </div>
                    </a>
                   </div>
                   <div class="col">
                    <a href=""{% url 'administration_dashboard' %}"">
                    <div class="apps p-2 radius-10 text-center">
                       <div class="apps-icon-box mb-1 text-white bg-success bg-gradient">
                        <i class="fa fa-briefcase" style="font-size:18px;color:white;"></i>
                       </div>
                       <p class="mb-0 apps-name">Vendors</p>
                    </div>
                    </a>
                  </div>
                  <div class="col">
                    <a href="https://llifftonanalytica.com/" target="_blank">
                    <div class="apps p-2 radius-10 text-center">
                       <div class="apps-icon-box mb-1 text-white bg-orange bg-gradient">
                        <i class="fa fa-globe" style="font-size:18px;color:white;"></i>
                       </div>
                       <p class="mb-0 apps-name">Website</p>
                    </div>
                    </a>
                  </div>
                 
                 
                  
                 </div><!--end row-->
              </div>
            </li>
           
            <li class="nav-item dropdown dropdown-large d-none d-sm-block">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                <div class="notifications">
                  <span class="notify-badge">2</span>
                  <i class="fa fa-commenting-o" style="font-size:18px;color:blue;"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end p-0">
                <div class="p-2 border-bottom m-2">
                    <h5 class="h5 mb-0">Notifications</h5>
                </div>
                <div class="header-notifications-list p-2">
                   <div class="dropdown-item bg-light radius-10 mb-1">
                    <form class="dropdown-searchbar position-relative">
                      <div class="position-absolute top-50 start-0 translate-middle-y px-3 search-icon"><i class="bi bi-search"></i></div>
                      <input class="form-control" type="search" placeholder="Search Messages">
                    </form>
                    </div>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                         <div class="notification-box"><i class="bi bi-basket2-fill"></i></div>
                         <div class="ms-3 flex-grow-1">
                           <h6 class="mb-0 dropdown-msg-user"> <s>Loan Request </s><span class="msg-time float-end text-secondary">1 m</span></h6>
                           <small class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center"> <s>You have recived new loan request</s></small>
                         </div>
                      </div>
                    </a>
                   <a class="dropdown-item" href="#">
                     <div class="d-flex align-items-center">
                      <div class="notification-box"><i class="bi bi-people-fill"></i></div>
                        <div class="ms-3 flex-grow-1">
                          <h6 class="mb-0 dropdown-msg-user"> <s>Pending confirmation </s><span class="msg-time float-end text-secondary">7 m</span></h6>
                          <small class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center"> <s>5 new user registered</s></small>
                        </div>
                     </div>
                   </a>
                   
                  
               </div>
               <div class="p-2">
                 <div><hr class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">
                     <div class="text-center">View All Notifications</div>
                   </a>
               </div>
              </div>
            </li>
            </ul>
            </div>
      </nav>
    </header>
       <!--end top header-->

       <!--start sidebar -->
       <aside class="sidebar-wrapper">
          <div class="iconmenu"> 
            <div class="nav-toggle-box">
              <div class="nav-toggle-icon"><i class="fa fa-bars" style="font-size:18px;color:blue;"></i></div>
            </div>
            <ul class="nav nav-pills flex-column">
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-dashboards" type="button"><i class="fa fa-bar-chart" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="User Management"> 
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-application" type="button"><i class="fa fa-user-circle" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Market">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-widgets" type="button"><i class="fa fa-handshake-o" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Farm">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-ecommerce" type="button"><i class="fa fa-cubes" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Groups">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-components" type="button"><i class="fa fa-users" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Resources">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-forms" type="button"><i class="fa fa-arrows-alt" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Sales">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-tables" type="button"><i class="fa fa-money" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Settings">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-authentication" type="button"><i class="fa fa-cogs" style="font-size:18px;color:blue;"></i></button>
              </li>
              <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Reports">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-icons" type="button"><i class="fa fa-book" style="font-size:18px;color:blue;"></i></button>
              </li>
            
           
             
            </ul>
          </div>
          <div class="textmenu">
            <div class="brand-logo">
              eGroup
            </div>
            <div class="tab-content">
              <div class="tab-pane fade" id="pills-dashboards">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Dashboard</h5>
                    </div>
                    <small class="mb-0">System summaries</small>
                  </div>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-cart-plus"></i>Register New Group</a>
                
                </div>
              </div>
              <div class="tab-pane fade" id="pills-application">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">User Management</h5>
                    </div>
                    <small class="mb-0">Manage users(Staff, group members and vendors)</small>
                  </div>
                  <a href="#" class="list-group-item"><i class="bi bi-envelope"></i>List Staff</a>
                  <a href="{% url 'update_member_profile' %}" class="list-group-item"><i class="bi bi-chat-left-text"></i>List Group Members</a>
                  <a href="{% url 'administration_dashboard' %}"class="list-group-item"><i class="bi bi-archive"></i>List Vendors</a>
                </div>
              </div>

              <div class="tab-pane fade" id="pills-widgets">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Market</h5>
                    </div>
                    <small class="mb-0">Manage markets</small>
                  </div>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-box"></i>List Vendors</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bar-chart"></i>Add Vendor</a>
                  <a href="{% url 'administration_dashboard'%}" class="list-group-item"><i class="bi bi-bar-chart"></i>List Products</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bar-chart"></i>Add Product</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bar-chart"></i>Categories</a>
       
                </div>
              </div>
              
              <div class="tab-pane fade" id="pills-components">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Groups</h5>
                    </div>
                    <small class="mb-0">Manage Groups</small>
                  </div>
                  <a href="{% url 'list_groups' %}" class="list-group-item"><i class="bi bi-bell"></i>List Groups</a>
                  <a href="{% url 'list_members' %}" class="list-group-item"><i class="bi bi-bell"></i>List Members</a>
                 
                  <a href="{% url 'creategroup' %}" class="list-group-item"><i class="bi bi-bell"></i>Add New Group</a>
                  <a href="{% url 'update_member_profile' %}" class="list-group-item"><i class="bi bi-cart-plus"></i>Update Member Profile</a> 
                 
                </div>
              </div>
              <div class="tab-pane fade" id="pills-forms">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Resources</h5>
                    </div>
                    <small class="mb-0">Manage resources</small>
                  </div>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-file-text"></i>Articles</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>Trainings</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>Weather</a>

                </div>
              </div>
              <div class="tab-pane fade" id="pills-tables">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Sales</h5>
                    </div>
                    <small class="mb-0">Manage Sales</small>
                  </div>
                  <a href="i.html" class="list-group-item"><i class="bi bi-bell"></i>List Sales</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>List Loans</a>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-authentication">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Settings</h5>
                    </div>
                    <small class="mb-0">manage settings</small>
                  </div>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>Counties</a>
                  <a href="{% url 'administration_dashboard' %}"class="list-group-item"><i class="bi bi-bell"></i>Sub Counties</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>Wards</a>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>Change Password</a>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-icons">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-0">Reports</h5>
                    </div>
                    <small class="mb-0">Manage reports</small>
                  </div>
                  <a href="{% url 'administration_dashboard' %}" class="list-group-item"><i class="bi bi-bell"></i>List reports</a>
                </div>
              </div>




            </div>
          </div>
       </aside>
       <!--start sidebar -->

       <!--start content-->
       {% block content %}

     {% endblock %}
      
   <!--end page main-->


       <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
       <!--end overlay-->

        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        
      
  </div>
  <!--end wrapper-->


  <!-- Bootstrap bundle JS -->
  <script src="{% static 'assets/js/bootstrap.bundle.min.js'  %}"></script>
  <!--plugins-->
  <script src="{% static 'assets/js/jquery.min.js'  %}"></script>
  <script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js'  %}"></script>
  <script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js'  %}"></script>
  <script src="{% static 'assets/js/pace.min.js'  %}"></script>
  <script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js'  %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js'  %}"></script>
  <script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js'  %}"></script>
  <script src="{% static 'assets/plugins/chartjs/chart.min.js'  %}"></script>
  <!--app-->
  <script src="{% static 'assets/js/app.js'  %}"></script>
  <script src="{% static 'assets/js/index.js'  %}"></script>

  <script>
     new PerfectScrollbar(".best-product")
     new PerfectScrollbar(".top-sellers-list")
  </script>
  

</body>

</html>

                       
                        
